---
import Layout from '../components/Layout.astro';
---

<Layout title="Bryce Eppler">
	<main class="flex min-h-screen flex-col items-center justify-between p-2 sm:p-8 mb-16">
    <div class="w-full max-w-xl flex-1 flex-col justify-center text-center">      <div class="header">
      <section class="w-full py-6 md:py-12">
        <div class="container grid px-4 md:px-6 items-start my-10">
            <h2 class="text-3xl font-bold tracking-tighter">Bryce Eppler</h2>
            <p class="text-2xl font-bold text-gray-500 dark:text-purple-800">Software Developer</p>
            <p>epplerdev@gmail.com</p>
        </div>
        <div class="grid space-y-10 md:gap-4">
          <!-- Projects -->
          <div class="">
            <h2 class="text-2xl font-bold tracking-tighter">
              Projects
            </h2>
            <ul>
              <li>
                <div class="relative flex py-5 items-center">
                  <div class="flex-grow border-t border-gray-800"></div>
                  <span class="flex-shrink mx-4 text-gray-800 text-xl">snapcaster.ca</span>
                  <div class="flex-grow border-t border-gray-800"></div>
                </div>
                <p>2019 - 2024</p>
                <p class="mt-4">Snapcaster is a microservices web application that allows users to search custom Magic: The Gathering cards across multiple Canadian stores. It has been running since 2019 and serves thousands of active monthly users.</p>
                <h3
                  class="mt-4 mb-2"
                >Technologies</h5>
                <p>Node, React, MongoDB, Docker, AWS, Python</p>
                <div
                  class="mt-4"
                >
                  <button
                    class="bg-gray-800 text-white px-4 py-2 rounded-md"
                  >
                    <a href="https://github.com/bryceeppler/snapcaster/" target="_blank">View on GitHub</a>
                  </button>
                  <button
                    class="bg-gray-800 text-white px-4 py-2 rounded-md"
                  >
                    <a href="https://snapcaster.ca/" target="_blank">View Live</a>
                  </button>
                </div>
              </li>
            </ul>
          </div>
          <!-- Experience -->
          <div class="">
            <h2 class="text-2xl font-bold tracking-tighter">
              Experience
            </h2>
            <ul>
              <li>
               <div class="relative flex py-5 items-center">
                  <div class="flex-grow border-t border-gray-800"></div>
                  <span class="flex-shrink mx-4 text-gray-800 text-xl">BSc Computer Science</span>
                  <div class="flex-grow border-t border-gray-800"></div>
                </div>
                <p class="text-lg">University of Victoria</p>
                <div class="p-1"/>
                <p>2019 - 2024</p>

              </li>
              <li>
                <div class="relative flex py-5 items-center">
                  <div class="flex-grow border-t border-gray-800"></div>
                  <span class="flex-shrink mx-4 text-gray-800 text-xl">Software Developer & QA Engineer</span>
                  <div class="flex-grow border-t border-gray-800"></div>
                </div>
                <p class="text-lg">Ergonomyx</p>
                <div class="p-1"/>
                <p>2020-2021</p>
              </li>
              <li>
                <div class="relative flex py-5 items-center">
                  <div class="flex-grow border-t border-gray-800"></div>
                  <span class="flex-shrink mx-4 text-gray-800 text-xl">Fullstack Developer</span>
                  <div class="flex-grow border-t border-gray-800"></div>
                </div>
                <p class="text-lg">Freelance Development</p>
                <div class="p-1"/>
                <p>2022-2023</p>
              </li>
            </ul>
          </div>

        </div>
        </section>
      </div>
    </div>
	</main>
</Layout>